
    	*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.demo{
    text-align: center;
    padding:50px;
    font-family: Cambria;
}
body{
    height: 100px;
    background-color: #dbf3f1;
}
.container{
    width: 40%;
    min-width: 450px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
	background: rgb(203, 206, 167);
}
#newtask{
    position: relative;
    padding: 30px 20px;
}
#newtask input{
    width: 75%;
    height: 45px;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
}
#newtask input:focus{
    outline: none;
    border-color: #111111;
}
#newtask button{
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: Cambria;
    font-weight: 500;
    font-size: 16px;
    background-color: #2f3338;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}
#tasks{
    background-color: rgba(124, 124, 124, 0.808);
    padding: 30px 20px;
    margin-top: 10px;
    border-radius: 0px;
    width: 100%;
    position: relative;
}
.task{
    background-color: white;
    height: 50px;
	margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
	border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #d4da88;
    cursor: pointer;
}
.task span{
    font-family: Verdana;
    font-size: 15px;
    font-weight: 400;
}
.task button{
    background-color: #c4bcba;
    color: #ffffff;
    height: 100%;
    width: 40px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    outline: none;
}
